@keyframes grow-title {
   from {
      transform: translate(-50%, -50%) scale(0.9);
      opacity: 0;
   }

   to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
   }
}

@keyframes fadeFromTop-chevron {
   from {
      transform: translate(-50%, -60%);
      opacity: 0;
   }

   to {
      transform: translate(-50%, 0);
      opacity: 1;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0
   }

   to {
      opacity: 1;
   }
}

@keyframes fadeFromBottom-nav {
   from {
      opacity: 0;
      transform: translateY(40%)
   }

   to {
      opacity: 1;
      transform: translateY(0)
   }
}

@keyframes draw-hex {
   0% {
      stroke-dasharray: 350;
      stroke-dashoffset: 350;
   }

   100% {
      stroke-dasharray: 350;
      stroke-dashoffset: 0;
   }
}

@keyframes fadeFromLeft-little {
   from {
      opacity: 0;
      transform: translateX(-30px)
   }

   to {
      opacity: 1;
      transform: translateY(0)
   }
}

.fadeFromLeft-little {
   animation: fadeFromLeft-little 300ms forwards;
}