@keyframes grow-title {
   from {
      transform: translate(-50%, -50%) scale(0.9);
      opacity: 0;
   }

   to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
   }
}

@keyframes fadeFromTop-chevron {
   from {
      transform: translate(-50%, -60%);
      opacity: 0;
   }

   to {
      transform: translate(-50%, 0);
      opacity: 1;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0
   }

   to {
      opacity: 1;
   }
}

@keyframes fadeFromBottom-1 {
   from {
      opacity: 0;
      transform: translateY(30px)
   }

   to {
      opacity: 1;
      transform: translateY(0)
   }
}

@keyframes fadeFromLeft-1 {
   from {
      opacity: 0;
      transform: translateX(-30px)
   }

   to {
      opacity: 1;
      transform: translateY(0)
   }
}

@keyframes fadeFromRight-1 {
   from {
      opacity: 0;
      transform: translateX(30px)
   }

   to {
      opacity: 1;
      transform: translateY(0)
   }
}

.fadeIn {
   animation: fadeIn 300ms forwards;
}

.fadeFromLeft-1 {
   animation: fadeFromLeft-1 300ms forwards;
}

.fadeFromRight-1 {
   animation: fadeFromRight-1 300ms forwards;
}

.fadeFromBottom-1 {
   animation: fadeFromBottom-1 300ms forwards;
}