$clr-bg: #faf9f4;
$clr-font-light: $clr-bg;
$clr-font-dark: #005568;
$clr-font-black: #333;
$clr-primary: #15878E;

:root {
   --vh100: 100vh;
}

@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin absolute-top {
   position: absolute;
   top: 0;
   left: 0;
}

@mixin absolute-center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin absolute-bottom {
   position: absolute;
   bottom: 0;
   left: 0;
}