$clr-bg: #faf9f4;
$clr-font-light: $clr-bg;
$clr-font-dark: #005568;
$clr-primary: #15878E;

$hex-dot-width: 1rem;

@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin absolute-top {
   position: absolute;
   top: 0;
   left: 0;
}

@mixin absolute-center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin absolute-bottom {
   position: absolute;
   bottom: 0;
   left: 0;
}

:root {
   --vh100: 100vh;
   --hex1-width: 7rem;
   --hex2-height: 7rem;
   --hex-inner-ratio: 0.88;
}