@import "./home.scss";
@import "./services.scss";
@import "./profile.scss";
@import "./projects.scss";
@import "./resume.scss";
@import "./contact.scss";
@import "./footer.scss";

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Exo;
}

body,
html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}

section {
   padding: 5rem 20vw;
}

.common {
   &__section-title {
      color: $clr-primary;
      font-weight: 400;
      font-size: 2.9rem;
      letter-spacing: 2px;
      padding-bottom: 3rem;
      text-align: center;
   }

   &__btn {
      padding: 0.4em 1.2em;
      border-radius: 3px;
      border-style: solid;
      border-width: 1px;
      cursor: pointer;
      user-select: none;
      flex-shrink: 0;
      text-decoration: none;

      &.contained {
         background: $clr-primary;
         color: $clr-font-light;
         border-color: $clr-primary;

         &:focus,
         &:hover {
            opacity: 0.8;
         }
      }

      &.outlined {
         background: none;
         border-color: $clr-primary;
         color: $clr-primary;

         &:focus,
         &:hover {
            background: #15878E11;
         }
      }
   }
}

@media (max-width: 1660px) {

   section,
   footer {
      padding-left: 15vw;
      padding-right: 15vw;
   }
}


@media (max-width: 1200px) {

   section,
   footer {
      padding-left: 10vw;
      padding-right: 10vw;
   }
}

@media (max-width: 576px) {

   section,
   footer {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
   }
}