@import "./home.scss";
@import "./services.scss";
@import "./profile.scss";

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Exo;
}

body,
html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}

section {
   padding: 5rem 20vw;

   .works {
      background: yellow;
   }

   .profile {
      background: green;
   }

   .resume {
      background: red;
   }

   .contact {
      background: blue;
   }
}

.common {
   &__section-title {
      color: $clr-primary;
      font-weight: 400;
      font-size: 2.8rem;
      letter-spacing: 2px;
      padding-bottom: 3rem;
      text-align: center;
   }
}

@media (max-width: 1660px) {
   section {
      padding: 5rem 15vw;
   }
}


@media (max-width: 1200px) {
   section {
      padding: 5rem 10vw;
   }
}

@media (max-width: 576px) {
   section {
      padding: 5rem 1.8rem;
   }
}