@import "./_variables.scss";

.hex {
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

.hex1-out {}

.hex1-full {}

.hex2-out {
   background-image: url(../assets/hex/hex2-out.svg);
}

.hex2-full {
   background-image: url(../assets/hex/hex2-full.svg);
}