@import "./_variables.scss";

.profile {
   position: relative;
   color: $clr-font-light;

   .common__section-title {
      text-align: start;
   }

   &-bg {
      position: absolute;
      z-index: -2;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: #0B1518;

      &__img,
      &__gradient {
         position: absolute;
         height: 100%;
         width: 50%;
         top: 0;
         right: 0;

      }

      &__img {
         background-image: url("../assets/code/code.jpg");
         background-position: center;
         background-size: cover;
      }

      &__gradient {
         z-index: 10;
         background: linear-gradient(90deg, #0B1518 0%, rgba(11, 21, 24, 0.92) 25%, rgba(19, 19, 19, 0) 130%);
      }
   }

   &-content {
      width: 50%;
      font-size: 1.12rem;

      &__description {
         padding-bottom: 2rem;
      }

      &__skills {
         display: flex;
         flex-wrap: wrap;

         &-skill {
            display: flex;
            align-items: center;
            min-width: calc(25% + 35px);

            >span {
               padding-left: 1rem;
               line-height: 3.3em;
            }
         }
      }
   }
}

@media (max-width: 1200px) {
   .profile-content {
      width: 100%;
      padding: 0 10%;
   }
}

@media (max-width: 767.8px) {
   .profile-content {
      padding: 0;
   }

   .profile-bg__gradient {
      background: linear-gradient(90deg, #0B1518 0%, rgba(11, 21, 24, 0.92) 25%, rgba(19, 19, 19, 0) 200%);
   }
}

@media (max-width: 576px) {
   .profile-content__skills-skill {
      min-width: calc(45% + 12px);
   }
}