@import "./_variables.scss";

$central-space: 3rem;
$video-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
$intro-spacing: 2rem;
$icon-size:32px;
$icon-spacing:1.8rem;
$tablet-w: 400px;
$phone-w: 200px;
$anim-duration: 1000ms;

.button_view-project,
.button_github,
.app-intro__technologies>.svg-icon,
.app-intro__description,
.app-intro__title,
.app-video__tablet,
.app-video__phone,
.projects-title {
   animation-duration: 1000ms !important;
}

section.projects {
   background: $clr-bg;
   padding-top: 8rem;
   padding-bottom: 8rem;
}

.app {
   display: flex;
   align-items: stretch;
   padding-top: 6rem;
   padding-bottom: 6rem;
   color: $clr-font-black;
   font-size: 1.12rem;

   &-video,
   &-intro {
      position: relative;
      flex-grow: 1;
      width: 50%;
   }

   &-video {
      display: flex;
      justify-content: center;

      &__tablet,
      &__phone {
         box-shadow: $video-shadow;
         border-radius: 15px;
         background: none;
      }

      &__tablet {
         width: $tablet-w;
      }

      &__phone {
         position: absolute;
         width: $phone-w;
         top: 50%;
         left: 50%;
      }
   }

   &-intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &__title {
         font-size: 2.4rem;
         font-weight: 400;
         letter-spacing: 1px;
         padding-bottom: 2rem;
      }

      &__description {
         width: 100%;
         padding-bottom: $intro-spacing;
      }

      &__technologies {
         display: flex;
         padding-bottom: $intro-spacing;

         >.svg-icon {
            height: $icon-size;
            width: $icon-size;
         }
      }

      .app-intro__buttons {
         display: flex;

         .button_view-project,
         .button_github {
            font-size: inherit;
            letter-spacing: 0.3px;
         }

         .button_github {
            margin: 0 1rem;
         }
      }
   }
}

.app-left {
   .app-video {
      margin-right: $central-space;

      &__tablet {
         margin-left: -15%;
      }

      &__phone {
         margin-left: 15%;
         margin-top: -8%;
      }
   }

   .app-intro {
      margin-left: $central-space;
      padding-left: $central-space;
   }

   .app-intro__technologies>div {
      margin-right: $icon-spacing;
   }
}

.app-right {
   flex-direction: row-reverse;
   text-align: right;

   .app-video {
      margin-left: $central-space;

      &__tablet {
         margin-left: 15%;
      }

      &__phone {
         right: 65%;
         left: auto;
         margin-top: -8%;
      }
   }

   .app-intro {
      align-items: flex-end;
      margin-right: $central-space;
      padding-right: $central-space;
   }

   .app-intro__technologies>div {
      margin-left: $icon-spacing;
   }

   .app-intro__buttons {
      flex-direction: row-reverse;
   }
}

@media (max-width: 1660px) {

   .app-video__tablet {
      width: $tablet-w * 0.9;
   }

   .app-video__phone {
      width: $phone-w * 0.9;
   }
}