@import "./hexagon.scss";

.services {
   @include flex-center;
   flex-wrap: wrap;
   background: $clr-bg;

   .service {
      @include flex-center;
      justify-content: stretch !important;
      flex-direction: column;
      color: $clr-font-dark;
      text-align: center;
      height: 100%;
      padding: 0.5rem 1rem 0 1rem;
      margin: 1rem 0;
      min-width: 14rem;
      min-width: calc(var(--hex2-height) * 2);

      h2 {
         font-weight: 400;
         min-height: 3em;
         margin-top: calc(1rem + 0.6vw);
         overflow: hidden;
      }
   }

   .hex2 {
      height: 7rem;
      height: var(--hex2-height);
      background: $clr-primary;
      font-size: 1rem;
      color: $clr-primary;

      &.inner {
         background: $clr-bg;
      }

      &.full .inner {
         color: $clr-bg;
      }

      .icon-container {
         @include flex-center;
         position: relative;
         z-index: 2;
         width: 150%;
         height: 50%;

         svg {
            width: auto;
            height: 100%;
         }
      }

      .resp {
         height: 48%;
      }
   }
}

@media (max-width: 576px) {
   .services {
      flex-direction: column;

      >.service {
         padding: 1rem;
         margin: 1rem 0;
         width: 100%;
         justify-content: center !important;
         align-items: center;

         .hex2 {
            flex-shrink: 0;
         }

         h2 {
            margin-top: 0;
            min-height: 0;
         }

         &:nth-child(odd) {
            flex-direction: row;
            text-align: start;
            padding-left: 3.5rem;

            h2 {
               margin-left: 3.5rem;
            }
         }

         &:nth-child(even) {
            flex-direction: row-reverse;
            text-align: end;
            padding-right: 3rem;

            h2 {
               margin-right: 3rem;
            }
         }
      }
   }

   .services>.service>h2 {
      font-size: 1.3rem;
   }
}