.svg-icon {
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

.javascript {
   background-image: url(../assets/icons/javascript.svg);
   border-radius: 2px;
}

.html5 {
   background-image: url(../assets/icons/html5.svg);
}

.css3 {
   background-image: url(../assets/icons/css3.svg);
}

.react {
   background-image: url(../assets/icons/react.svg);
   border-radius: 2px;
}

.linkedin {
   background-image: url(../assets/icons/linkedin.svg);
}

.linkedin-white {
   background-image: url(../assets/icons/linkedin-white.svg);
}

.github {
   background-image: url(../assets/icons/github.svg);
}

.github-white {
   background-image: url(../assets/icons/github-white.svg);
}

.npm {
   background-image: url(../assets/icons/npm.svg);
}
.npm-white {
   background-image: url(../assets/icons/npm-white.svg);
}