@import "./_variables.scss";

.hex {
   @include flex-center;
   flex-shrink: 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.hex1-full-dot {
   height: 1.1rem;
   width: 1.1rem;
   opacity: 0;
}

.hex1-out {
   background-image: url(../assets/hex/hex1-out.svg);
}

.hex1-out.white {
   background-image: url(../assets/hex/hex1-out-white.svg);
}

.hex1-full,
.hex1-full-dot {
   background-image: url(../assets/hex/hex1-full.svg);
}

.hex2-out {
   background-image: url(../assets/hex/hex2-out.svg);
}

.hex2-full {
   background-image: url(../assets/hex/hex2-full.svg);
}