$clr-tooltip: #005568;

.svg-icon {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    background-size: 95% 95%;
}

.app-intro__technologies {
    .svg-icon {
        &::after {
            position: absolute;
            bottom: calc(100% + 13px);
            left: 50%;
            transform: translate(-50%);
            background: $clr-tooltip;
            padding: 0.4em 1em;
            border-radius: 3px;
            color: white;
            white-space: nowrap;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: calc(100% + 7px);
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $clr-tooltip;
            left: 50%;
            transform: translate(-50%);
        }

        &::before,
        &::after {
            opacity: 0;
            transition: opacity 150ms;
        }

        &:hover::before,
        &:hover::after {
            opacity: .9;
        }
    }
}

.jquery {
    background-image: url(../assets/icons/jquery.svg);

    &::after {
        content: "JQuery";
    }
}

.sass {
    background-image: url(../assets/icons/sass.svg);

    &::after {
        content: "SASS";
    }
}

.styled-components {
    background-image: url(../assets/icons/styled-components.png);

    &::after {
        content: "Styled Components";
    }
}

.javascript {
    background-image: url(../assets/icons/javascript.svg);
    border-radius: 2px;

    &::after {
        content: "Javascript";
    }
}

.html5 {
    background-image: url(../assets/icons/html5.svg);

    &::after {
        content: "HTML5";
    }
}

.css3 {
    background-image: url(../assets/icons/css3.svg);

    &::after {
        content: "CSS3";
    }
}

.react {
    background-image: url(../assets/icons/react.svg);
    border-radius: 2px;
    background-size: contain;

    &::after {
        content: "React JS";
    }
}

.linkedin {
    background-image: url(../assets/icons/linkedin.svg);
}

.linkedin-white {
    background-image: url(../assets/icons/linkedin-white.svg);
}

.github {
    background-image: url(../assets/icons/github.svg);
}

.github-white {
    background-image: url(../assets/icons/github-white.svg);
}

.npm {
    background-image: url(../assets/icons/npm.svg);
}

.npm-white {
    background-image: url(../assets/icons/npm-white.svg);
}