@import "./_variables.scss";

.profile {
    position: relative;
    color: $clr-font-light;

    .common__section-title {
        text-align: left;
        padding-bottom: 2.5rem;
    }

    &-bg {
        position: absolute;
        z-index: -2;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #0B1518;

        &__img,
        &__gradient {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            object-fit: cover
        }

        &__gradient {
            z-index: 10;
            background: linear-gradient(90deg, #0B1518 0%, rgba(11, 21, 24, 0.92) 25%, rgba(19, 19, 19, 0) 130%);
        }
    }

    &-content {
        width: 100%;
        font-size: 1.1rem;

        &__description {
            padding-bottom: 1.5rem;
            font-size: inherit;

            p {
                line-height: 1.6em;
            }
        }

        &__skills {
            display: flex;
            flex-wrap: wrap;
            font-size: inherit;
            width: 65%;
            // background: #ffffff20;

            &-skill {
                display: flex;
                align-items: center;
                width: 33.3%;
                font-size: inherit;
                // outline: 1px solid #00FF0030;

                .hex1-full-dot {
                    opacity: 0;
                    animation-duration: 300ms;
                }

                span {
                    padding-left: 1rem;
                    font-size: inherit;
                    line-height: 2.7em;
                    min-height: 2.7em;
                    flex-shrink: 0;
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .profile-content__skills {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .profile-content {
        width: 100%;
        padding: 0;
        padding-left: 10%;
    }
}

@media (min-width: 992px) {
    .will-break {
        display: block;
    }
}

@media (max-width: 991.8px) {
    .profile-content__skills {
        width: 100%;
    }
}

@media (max-width: 767.8px) {
    .profile-content {
        padding: 0;
    }

    .profile-bg__gradient {
        background: linear-gradient(90deg, #0B1518 0%, rgba(11, 21, 24, 0.92) 25%, rgba(19, 19, 19, 0) 200%);
    }

    .profile-content__skills-skill {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .profile-content__skills-skill {
        width: 50%;
        letter-spacing: -0.5px;
    }

    .profile-content {
        font-size: 1.05rem;

        .common__section-title {
            padding-bottom: 1.5rem;
        }

        &__description {
            padding-bottom: 1rem !important;
        }

        &__skills-skill span {
            line-height: 2.5em;
            min-height: 2.5em;
        }
    }
}

@media (max-width: 400px) {
    #profile {
        padding-right: 1rem;
        padding-left: 1.5rem;
    }

    .profile-content {
        font-size: 1rem;
    }

    .profile-content__skills-skill span {
        padding-left: 0.4rem;
    }
}

@media (max-width: 359.8px) {

    .profile-content__skills-skill {
        width: 100%;
    }
}