.services {
   @include flex-center;
   flex-wrap: wrap;
   background: $clr-bg;
   padding-top: 3rem;
   padding-bottom: 3rem;

   .service {
      @include flex-center;
      justify-content: stretch !important;
      flex-direction: column;
      color: $clr-font-dark;
      text-align: center;
      height: 100%;
      padding: 0.5rem 1rem 0 1rem;
      margin: 1rem 0;
      min-width: 14rem;

      &-description {
         min-height: 3em;
         margin-top: 1rem;
         font-weight: 100;
      }
   }

   .hex {
      @include flex-center;
      height: 6.5rem;
      width: 6.5rem;

      &.hex2-full {
         padding-bottom: 0.1rem;

         .icon {
            position: relative;
            z-index: 1;
            width: 48%;
            height: 48%;
         }
      }

      &.hex2-out {
         .icon {
            width: 45%;
            height: 45%;
         }
      }
   }
}

@media (max-width: 1200px) {
   .services {
      padding-top: 3rem;
      padding-bottom: 3rem;

      .service {
         padding: 0rem 0.5rem 0 0.5rem;
         margin: 1rem 0;
         min-width: 10rem;
         font-size: 0.9rem;

         &-description {
            margin-top: 0.7rem;
         }

         .hex {
            height: 6rem;
            width: 6rem;
         }
      }
   }
}

@media (max-width: 767.8px) {
   .services .service {
      min-width: 10rem;
   }
}

@media (max-width: 576px) {
   .services {
      flex-direction: column;

      .hex {
         height: 5.5rem;
         width: 5.5rem;
      }

      >.service {
         padding: 1rem;
         margin: 0;
         width: 100%;
         justify-content: center !important;
         align-items: center;


         &:nth-child(odd) {
            flex-direction: row;
            text-align: start;
            padding-left: 3rem;

            h2 {
               margin-left: 1.5rem;
            }
         }

         &:nth-child(even) {
            flex-direction: row-reverse;
            text-align: end;
            padding-right: 3rem;

            h2 {
               margin-right: 1.5rem;
            }
         }

         h2 {
            font-size: 1.25rem;
         }
      }
   }

}